<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<% include include/header.ejs%>
<main>
    <div class="container">
        <img src="/img/404.jpg" alt="">
    </div>
</main>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>